<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <%= form_for :session, url: sessions_path(go: @go), class: "form-horizontal", remote: true do |f| %>
        <div class="modal-body">
          <div class="row form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <%= f.text_field :email, class: "form-control", id: "emailTextField", placeholder: "Enter email" %>
            </div>
          </div>
          <div class="row form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
              <%= f.password_field :pwd, class: "form-control", id: "pwdTextField" , placeholder: "Enter password" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10" id="wrongLoginInfo"><h4><span class="label label-danger">Oops! Wrong Credentials</span></h4></div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      <% end %>
    </div>
  </div>
</div>