<div class="container">
    <div class="jumbotron">
        <h1>My Cart</h1>
        <h3><a href=<%= root_path %>><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h3>
    </div>
    <ul class="list-group">
    	<% @products.each do |product| %>
  		<li class="list-group-item">
  			<div class="row">
	  			<div class="col-sm-4"><%= image_tag product.img_url, class: "thumbnail", size: "200" %></div>
				<div class="col-sm-4"><h4><%= product.name %></h4></div>
				<div class="col-sm-4"><h4>Rs <%= product.price %></h4></div>
			</div>
  		</li>
  		<% end %>
	</ul>

</div>