<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Boom! Basket</h1>
        <p>We serve all your needs, at the convinience of your door step.</p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div><%= link_to (image_tag "http://" + getServerIP + "/groceries_tile.jpg", class: "thumbnail", size: "200"), products_household_path %></div>
            <h3><span class="label label-primary ">Household</span></h3>
        </div>
        <div class="col-sm-3">
            <%= link_to (image_tag "http://" + getServerIP + "/personal_care_tile.jpg", class: "thumbnail", size: "200"), products_personal_care_path %>
            <h3><span class="label label-primary">Personal Care</span></h3>
        </div>
        <div class="col-sm-3">
            <%= link_to (image_tag "http://" + getServerIP + "/beverages_tile.jpg", class: "thumbnail", size: "200"), products_beverages_path %>
            <h3><span class="label label-primary">Beverages</span></h3>
        </div>
        <div class="col-sm-3">
            <%= link_to (image_tag "http://" + getServerIP + "/video_games_tile.jpg", class: "thumbnail", size: "200"), products_video_games_path %>
            <h3><span class="label label-primary">Video Games </span></h3>
        </div>
    </div>
</div>
