<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>We serve all your needs, at the convinience of your door step.</p>
  </div>
  <button type="button" class="btn btn-default">Start Shopping!</button>
</div>