<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Boom! Basket</h1>
        <p>We serve all your needs, at the convinience of your door step.</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <%= link_to (image_tag "http://localhost/groceries_tile.jpg", class: "thumbnail", size: "300"), "http://localhost/products/household" %>
            Household
            </br>
            </br>
        </div>
        <div class="col-sm-4">
            <%= link_to (image_tag "http://localhost/personal_care_tile.jpg", class: "thumbnail", size: "300"), "http://localhost/products/personal_care" %>
            Personal Care
            </br>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <%= link_to (image_tag "http://localhost/beverages_tile.jpg", class: "thumbnail", size: "300"), "http://localhost/products/beverages" %>
            Beverages
            </br>
            </br>
        </div>
        <div class="col-sm-4">
            <%= link_to (image_tag "http://localhost/video_games_tile.jpg", class: "thumbnail", size: "300"), "http://localhost/products/video_games" %>
            Video Games
            </br>
            </br>
        </div>
    </div>
</div>
