<div class="modal fade" id="productAdded" role="dialog">
    <div class="modal-dialog">
       	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title">Info</h4>
        	</div>
        	<div class="modal-body">
          		<p>Added to Cart</p>
        	</div>
      	</div>
    </div>
</div>