<div class="jumbotron">
        <h1>Perosnal Care</h1>
</div>
<div class="row">
<% @products.each do |product| %>
	<div class="col-sm-4">
		<%= image_tag product.img_url, class: "thumbnail", size: "200" %>
		<p><%= product.name %></p>
		<p>Rs <%= product.price %></p>
		<button type="button" class="btn btn-primary">Add to Cart</button>
		</br>
		</br>
	</div>
<% end %>
</div>